@import '../_vars'
@import '../_mixins'

.results
  display: none
  background-color: $lightgray
  padding: 40px 0
  min-height: 100vh

  &__head
    margin-bottom: 20px

  &__list
    background-color: $white
    padding: 20px
    border-radius: 10px
    @media (max-width: $tablet)
      padding: 15px

  &__item
    padding: 14px 18px
    @include flex(space-between, center)
    flex-wrap: wrap
    border-radius: 5px

    @media (max-width: $tablet)
      padding: 10px 14px

    @media (max-width: $tablet)
      font-size: 14px
      padding: 6px 10px

    &:nth-child(odd)
      background-color: $lightgray

  &__subtle-points,
  &__subtle-number
    color: $slate

  &__strong-category,
  &__strong-date,
  &__subtle-percentage
    font-weight: 600
    color: $black

  &__subtle-number
    width: 2%

  &__strong-category
    width: 30%

    @media (max-width: $mobile)
      width: 90%

  &__strong-date,
  &__subtle-points
    width: 15%
    @media (max-width: $mobile)
      width: 30%
      text-align: center

  &__btn
    background-color: transparent
    cursor: pointer
    padding: 5px 8px

  &__btn:hover
    .results__svg
      fill: #ff0404
      transform: scale(1.08)

  &__svg
    fill: #70798F
    height: 20px
    width: 19px
    border-radius: 5px
    transition: all .15s linear
